# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Certificates, keys, sensitive info
*.pem
*.crt
*.key

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.swp
.idea/
